In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

In [3]:
# Load the dataset
file_path = '/mnt/data/Salary_Data.csv'
df = pd.read_csv('Salary_Data.csv')

In [5]:
# Display basic information and first few rows
print(df.info())
print(df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   YearsExperience  30 non-null     float64
 1   Salary           30 non-null     float64
dtypes: float64(2)
memory usage: 612.0 bytes
None
   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0

In [7]:
# Check for missing values
print("Missing values:\n", df.isnull().sum())

Missing values:
 YearsExperience    0
Salary             0
dtype: int64

In [9]:
# Split data into features (X) and target (y)
X = df.iloc[:, :-1].values  # Assuming first column is the feature (YearsExperience)
y = df.iloc[:, -1].values   # Assuming last column is the target (Salary)

In [11]:
# Split dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)